/* Add application styles & imports to this file! */
* {
  margin: 0;
  padding: 0;
}

$primary-color: #181818;
$primary-color-contrast: #1DB954;

$primary-player-color: #282828;

$controls-buttons-color: hsla(0,0%,100%,.6);
$controls-active-buttons-color: #fff;

$progress-bar: #404040;
$progress-bar-fill: #a0a0a0;
$progress-bar-active: #1DB954;

$font-color: #fff;
$font-artist-name-color: #b3b3b3;
$font-song-time-color: hsla(0,0%,100%,.6);
$font-song-unactive-color: hsla(0,0%,100%,.6);

body {
  background-color: $primary-color;
  font-family: 'Varela Round', sans-serif;
}

.control-button {
  background: $primary-color;
  border: none;
  width: 32px;
  height: 32px;
  
  &:hover {
    cursor: pointer;
  }
}